.ListForm{
    width: 50%;
    padding: 10%;
}

.ion-padding-start{
    color: white;
}
.ListForm {
    justify-content: center; /* centraliza horizontal */
    align-items: center;     /* centraliza vertical */
}

.ListForm {
    border:solid #4d8dff 2px;
    margin: 0 auto;
    width: 40%;
}
.ButCadastro{
    display: inline;
    justify-content: center; /* centraliza horizontal */
}